@model DiabetesDiaryPages.Pages.Records.FoodModel

@* <div class="form-group">
    <label asp-for="FoodId" 
    <select asp-for="FoodId" asp-items="@(IEnumerable<SelectListItem>)ViewData['FoodSelectListItems']" class="form-control">
        <option>-- Izberi hrana --</option>
    </select>
    <input asp-for="Amount" class="form-control" />
</div> *@
