@page
@model DiabetesDiaryPages.Pages.Records.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zapis</h4>
<hr />
<div class="row">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="Record.Date" class="control-label"></label>
            <input asp-for="Record.Date" class="form-control" />
            <span asp-validation-for="Record.Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-switch form-check">
                <label for="HasMeasurementRecord" class="form-label">Has Measurement Record</label>
                <input type="checkbox" class="form-check-input" id="HasMeasurementRecord" data-bs-toggle="collapse" data-bs-target ="#CollapseMeasurementForm" />
            </div>
            <div class="row collapse" id="CollapseMeasurementForm">
                <div class="row">
                    <div class="col-md-3">
                        <label for="FoodSelectItemList" class="form-label">Food</label>
                        <select id="FoodSelectItemList" name="FoodSelectItemList" asp-items='@(IEnumerable<SelectListItem>)ViewData["FoodSelectItemList"]' class="form-select"></select>
                        <label for="FoodAmountInput" class="form-label">Amount in grams</label>
                        <input type="text" id="FoodAmountInput" class="form-control" name="FoodAmountInput" />
                        <button type="button" class="btn btn-secondary" id="AddFoodToMealBtn">Add to Meal</button>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped" id="FoodDeatailsTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Manufacturer</th>
                                    <th>Preperation type</th>
                                    <th>Glicemic Index</th>
                                    <th>Calories</th>
                                    <th>Proteins</th>
                                    <th>Carbohydrates</th>
                                    <th>Of which sugars</th>
                                    <th>Fat</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="MealTable">
                            <thead>
                                <tr>
                                    <th>Food name</th>
                                    <th>Amount in grams</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <label for="HasMealRecord" class="form-label">Has Meal Record</label>
        <input type="checkbox" class="form-check-input" id="HasMealRecord">

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Pages/Records/Create.cshtml.js"></script>
}
